.frame{
    /* 讓下一層次的項目 水平排列 */
   display: flex; 
}

.left{

    background-color: red;
    flex:none ;/* 參考寬度 固定的配置 */
    width: 200px;
}

.right{
    /* 讓下一層次的項目 水平排列 */
    display: flex;
    justify-content: flex-end; /* 水平對齊 */
    background-color: blue;
    flex: auto; /* 自動把剩下空間佔滿 */
}

.item{
    background-color: #cccccccc;
    flex: none;
    width: 100px;
    margin-right: 10px;
    text-align: center;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center; /* 垂直對齊ㄑ */
    height: 300px;
    background-color: #cccccccc;

}

.text{
    width: 300px; height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}